In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Test Session').getOrCreate()

In [4]:
spark

In [5]:
df_pyspark = spark.read.csv('D:\Study\Data Science\Dataset\Online_Retail.csv')

In [6]:
# by default pyspark takes its own header 
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string]

In [7]:
df_pyspark.show()

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|      _c0|      _c1|                 _c2|     _c3|            _c4|      _c5|       _c6|           _c7|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 8:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 8:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 8:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 8:34|     1.69|     13047|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 8:34|      2.1|     13047|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 8:34|      2.1|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|2010-12-01 8:34|     3.75|     13047|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|2010-12-01 8:34|     1.65|     13047|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|2010-12-01 8:34|     4.25|     13047|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|2010-12-01 8:34|     4.95|     13047|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|2010-12-01 8:34|     9.95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|2010-12-01 8:34|     5.95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|2010-12-01 8:34|     5.95|     13047|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 20 rows

In [8]:
# to ignore top row which comes by default and read header instead
# by default all columns will be treated as string

df_pyspark = spark.read.option('header','true').csv('D:\Study\Data Science\Dataset\Online_Retail.csv')
df_pyspark

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: string, InvoiceDate: string, UnitPrice: string, CustomerID: string, Country: string]

In [9]:
df_pyspark.show(5)

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 5 rows

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
# just like we have df.info in pandas  we have below command for pyspark

df_pyspark.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- Country: string (nullable = true)

In [12]:
# to ignore top row which comes by default, option with header= True will read header instead
# by default all columns will be treated the way they are with inferSchema = True

df_pyspark = spark.read.option('header','true').csv('D:\Study\Data Science\Dataset\Online_Retail.csv', inferSchema= True)
df_pyspark

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: double, CustomerID: int, Country: string]

In [13]:
df_pyspark.show(5)

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 5 rows

In [14]:
df_pyspark.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

## Reading dataset

In [15]:
# To ignore top row and read data with its actual dataype

df_pyspark = spark.read.csv('D:\Study\Data Science\Dataset\Online_Retail.csv', header= True, inferSchema= True)
df_pyspark

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: double, CustomerID: int, Country: string]

In [16]:
df_pyspark.show(5)

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 5 rows

In [17]:
# printschema is equivalent of info() of pandas

df_pyspark.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

In [18]:
df_pyspark.columns

['InvoiceNo',
 'StockCode',
 'Description',
 'Quantity',
 'InvoiceDate',
 'UnitPrice',
 'CustomerID',
 'Country']

## Filter based on Column

In [19]:
#To check a particular column
df_pyspark.select('Description')

DataFrame[Description: string]

In [20]:
#To view a particular column value
df_pyspark.select('Description').show(5)

+--------------------+
|         Description|
+--------------------+
|WHITE HANGING HEA...|
| WHITE METAL LANTERN|
|CREAM CUPID HEART...|
|KNITTED UNION FLA...|
|RED WOOLLY HOTTIE...|
+--------------------+
only showing top 5 rows

In [21]:
#To check type of multiple columns value
df_pyspark.select('Description','Quantity')

DataFrame[Description: string, Quantity: int]

In [22]:
#To view a multiple columns value
df_pyspark.select('Description','Quantity').show(5)

+--------------------+--------+
|         Description|Quantity|
+--------------------+--------+
|WHITE HANGING HEA...|       6|
| WHITE METAL LANTERN|       6|
|CREAM CUPID HEART...|       8|
|KNITTED UNION FLA...|       6|
|RED WOOLLY HOTTIE...|       6|
+--------------------+--------+
only showing top 5 rows

In [23]:
# Output return type is dataframe

type(df_pyspark.select('Description','Quantity'))

pyspark.sql.dataframe.DataFrame

In [24]:
# to check the datadtypes of each columns
df_pyspark.dtypes

[('InvoiceNo', 'string'),
 ('StockCode', 'string'),
 ('Description', 'string'),
 ('Quantity', 'int'),
 ('InvoiceDate', 'string'),
 ('UnitPrice', 'double'),
 ('CustomerID', 'int'),
 ('Country', 'string')]

In [26]:
# what is equivalent of describe function of pandas
df_pyspark.describe().show()

+-------+------------------+------------------+--------------------+------------------+----------------+-----------------+------------------+-----------+
|summary|         InvoiceNo|         StockCode|         Description|          Quantity|     InvoiceDate|        UnitPrice|        CustomerID|    Country|
+-------+------------------+------------------+--------------------+------------------+----------------+-----------------+------------------+-----------+
|  count|            541909|            541909|              540455|            541909|          541909|           541909|            406829|     541909|
|   mean|  559965.752026781|27623.240210938104|             20713.0|  9.55224954743324|            null|4.611113626089747|15287.690570239585|       null|
| stddev|13428.417280797334|16799.737628427712|                null|218.08115785023438|            null|96.75985306117924|1713.6003033216014|       null|
|    min|            536365|             10002| 4 PURPLE FLOCK D...|            -80995|2010-12-01 10:03|        -11062.06|             12346|  Australia|
|    max|           C581569|                 m|   wrongly sold sets|             80995| 2011-12-09 9:57|          38970.0|             18287|Unspecified|
+-------+------------------+------------------+--------------------+------------------+----------------+-----------------+------------------+-----------+

## Adding columns in pyspark

In [35]:
### Adding columns in dataframe

df_pysparknew = df_pyspark.withColumn('Unit Price + 1', df_pyspark['UnitPrice']+1).withColumn('Quantity - 1',df_pyspark['Quantity']-1)

In [36]:
df_pysparknew.show(5)

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-----------------+------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|   Unit Price + 1|Quantity - 1|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-----------------+------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 8:26|     2.55|     17850|United Kingdom|             3.55|           5|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|4.390000000000001|           5|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 8:26|     2.75|     17850|United Kingdom|             3.75|           7|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|4.390000000000001|           5|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|4.390000000000001|           5|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-----------------+------------+
only showing top 5 rows

In [43]:
### Adding columns in dataframe
df_pysparknew1= df_pyspark.select('*',(df_pyspark['Quantity'] +1).alias('Quatity - 1'),(df_pyspark.UnitPrice + 2).alias('Unit Price+2'))
df_pysparknew1.show(5)

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-----------+-----------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|Quatity - 1|     Unit Price+2|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-----------+-----------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 8:26|     2.55|     17850|United Kingdom|          7|             4.55|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|          7|5.390000000000001|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 8:26|     2.75|     17850|United Kingdom|          9|             4.75|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|          7|5.390000000000001|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|          7|5.390000000000001|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-----------+-----------------+
only showing top 5 rows

##  Renaming the columns

In [52]:
## Renaming the columns
df_pysparknew2= df_pysparknew1.withColumnRenamed('InvoiceNo','NewInvoiceNo')
df_pysparknew2.show(5)

+------------+---------+--------------------+--------+---------------+---------+----------+--------------+
|NewInvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+------------+---------+--------------------+--------+---------------+---------+----------+--------------+
|      536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 8:26|     2.55|     17850|United Kingdom|
|      536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
|      536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 8:26|     2.75|     17850|United Kingdom|
|      536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
|      536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
+------------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 5 rows

## Finding NaN, IsNull or None Values

In [54]:
#Find count of NAN, isNull, None  for all columns

from pyspark.sql.functions import col,isnan,when,count
df_Columns=["name","state","number"]
df_pyspark.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_pyspark.columns]).show()

+---------+---------+-----------+--------+-----------+---------+----------+-------+
|InvoiceNo|StockCode|Description|Quantity|InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+-----------+--------+-----------+---------+----------+-------+
|        0|        0|       1454|       0|          0|        0|    135080|      0|
+---------+---------+-----------+--------+-----------+---------+----------+-------+

In [55]:
#Find count of NAN, isNull, None for Selected columns

from pyspark.sql.functions import col,isnan,when,count
df_Columns=["InvoiceNo","Description","CustomerID"]
df_pyspark.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_Columns]).show()

+---------+-----------+----------+
|InvoiceNo|Description|CustomerID|
+---------+-----------+----------+
|        0|       1454|    135080|
+---------+-----------+----------+

In [57]:
# Find count for empty, None, Null, Nan with string literals.

from pyspark.sql.functions import col,isnan,when,count
df2 = df_pyspark.select([count(when(col(c).contains('None') | col(c).contains('NULL') | (col(c) == '' ) | \
                                   col(c).isNull() | isnan(c) | col(c).contains('?'), c )).alias(c) 
                         for c in df_pyspark.columns])
                    
df2.show()

+---------+---------+-----------+--------+-----------+---------+----------+-------+
|InvoiceNo|StockCode|Description|Quantity|InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+-----------+--------+-----------+---------+----------+-------+
|        0|        0|       1536|       0|          0|        0|    135080|      0|
+---------+---------+-----------+--------+-----------+---------+----------+-------+

## Dropping a column

In [46]:
## Dropping the columns

df_pysparknew1 = df_pysparknew1.drop('Quatity - 1','Unit Price + 2')
df_pysparknew1.show(5)

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 5 rows

In [59]:
## dropping a row where all columns contains null values
df_drop= df_pyspark.na.drop(how="all")

In [60]:
# not a single row gets dropped
df_drop.describe().show()

+-------+------------------+------------------+--------------------+------------------+----------------+-----------------+------------------+-----------+
|summary|         InvoiceNo|         StockCode|         Description|          Quantity|     InvoiceDate|        UnitPrice|        CustomerID|    Country|
+-------+------------------+------------------+--------------------+------------------+----------------+-----------------+------------------+-----------+
|  count|            541909|            541909|              540455|            541909|          541909|           541909|            406829|     541909|
|   mean|  559965.752026781|27623.240210938104|             20713.0|  9.55224954743324|            null|4.611113626089747|15287.690570239585|       null|
| stddev|13428.417280797334|16799.737628427712|                null|218.08115785023438|            null|96.75985306117924|1713.6003033216014|       null|
|    min|            536365|             10002| 4 PURPLE FLOCK D...|            -80995|2010-12-01 10:03|        -11062.06|             12346|  Australia|
|    max|           C581569|                 m|   wrongly sold sets|             80995| 2011-12-09 9:57|          38970.0|             18287|Unspecified|
+-------+------------------+------------------+--------------------+------------------+----------------+-----------------+------------------+-----------+

## Dropping a Row

In [61]:
## Dropping a row where any of the column value has null in it

df_drop1= df_pyspark.na.drop(how="any")

In [62]:
# it shows that 135080 rows got deleted which is equivalent to blank values of CustomerID

df_drop1.describe().show()

+-------+-----------------+------------------+--------------------+------------------+----------------+------------------+------------------+-----------+
|summary|        InvoiceNo|         StockCode|         Description|          Quantity|     InvoiceDate|         UnitPrice|        CustomerID|    Country|
+-------+-----------------+------------------+--------------------+------------------+----------------+------------------+------------------+-----------+
|  count|           406829|            406829|              406829|            406829|          406829|            406829|            406829|     406829|
|   mean|560617.1266447864|27430.341352504624|                null| 12.06130339774205|            null|3.4604710185365457|15287.690570239585|       null|
| stddev|13106.16769474375| 16403.57045262615|                null|248.69337001882482|            null| 69.31516172321447|1713.6003033216014|       null|
|    min|           536365|             10002| 4 PURPLE FLOCK D...|            -80995|2010-12-01 10:03|               0.0|             12346|  Australia|
|    max|          C581569|              POST|ZINC WIRE SWEETHE...|             80995| 2011-12-09 9:57|           38970.0|             18287|Unspecified|
+-------+-----------------+------------------+--------------------+------------------+----------------+------------------+------------------+-----------+

In [69]:
## Dropping a row where any of the column value has null in it but threshold is 7 which means we should have 6 non 
# null values in a row

df_drop2= df_pyspark.na.drop(how="any",thresh= 7)

In [70]:
df_drop2.describe().show()

+-------+------------------+------------------+--------------------+-----------------+----------------+-----------------+------------------+-----------+
|summary|         InvoiceNo|         StockCode|         Description|         Quantity|     InvoiceDate|        UnitPrice|        CustomerID|    Country|
+-------+------------------+------------------+--------------------+-----------------+----------------+-----------------+------------------+-----------+
|  count|            540455|            540455|              540455|           540455|          540455|           540455|            406829|     540455|
|   mean| 559980.1256542236|27600.105637869958|             20713.0|9.603128845139743|            null|4.623519023786751|15287.690570239585|       null|
| stddev|13431.181828660614|16765.809867508244|                null|218.0075982351426|            null| 96.8896276499661|1713.6003033216014|       null|
|    min|            536365|             10002| 4 PURPLE FLOCK D...|           -80995|2010-12-01 10:03|        -11062.06|             12346|  Australia|
|    max|           C581569|                 m|   wrongly sold sets|            80995| 2011-12-09 9:57|          38970.0|             18287|Unspecified|
+-------+------------------+------------------+--------------------+-----------------+----------------+-----------------+------------------+-----------+

In [71]:
# Dropping a row where nan value is in description column only
df_drop3= df_pyspark.na.drop(how="any",subset=['Description'])
df_drop3.describe().show()

+-------+------------------+------------------+--------------------+-----------------+----------------+-----------------+------------------+-----------+
|summary|         InvoiceNo|         StockCode|         Description|         Quantity|     InvoiceDate|        UnitPrice|        CustomerID|    Country|
+-------+------------------+------------------+--------------------+-----------------+----------------+-----------------+------------------+-----------+
|  count|            540455|            540455|              540455|           540455|          540455|           540455|            406829|     540455|
|   mean| 559980.1256542236|27600.105637869958|             20713.0|9.603128845139743|            null|4.623519023786751|15287.690570239585|       null|
| stddev|13431.181828660614|16765.809867508244|                null|218.0075982351426|            null| 96.8896276499661|1713.6003033216014|       null|
|    min|            536365|             10002| 4 PURPLE FLOCK D...|           -80995|2010-12-01 10:03|        -11062.06|             12346|  Australia|
|    max|           C581569|                 m|   wrongly sold sets|            80995| 2011-12-09 9:57|          38970.0|             18287|Unspecified|
+-------+------------------+------------------+--------------------+-----------------+----------------+-----------------+------------------+-----------+

## Replacing with a value

In [72]:
## Filling missing values
df_pyspark1= df_pyspark.na.fill('Replacing with value',['Description','CustomerID'])
df_pyspark1.describe().show()

+-------+------------------+------------------+--------------------+------------------+----------------+-----------------+------------------+-----------+
|summary|         InvoiceNo|         StockCode|         Description|          Quantity|     InvoiceDate|        UnitPrice|        CustomerID|    Country|
+-------+------------------+------------------+--------------------+------------------+----------------+-----------------+------------------+-----------+
|  count|            541909|            541909|              541909|            541909|          541909|           541909|            406829|     541909|
|   mean|  559965.752026781|27623.240210938104|             20713.0|  9.55224954743324|            null|4.611113626089747|15287.690570239585|       null|
| stddev|13428.417280797334|16799.737628427712|                null|218.08115785023438|            null|96.75985306117924|1713.6003033216014|       null|
|    min|            536365|             10002| 4 PURPLE FLOCK D...|            -80995|2010-12-01 10:03|        -11062.06|             12346|  Australia|
|    max|           C581569|                 m|   wrongly sold sets|             80995| 2011-12-09 9:57|          38970.0|             18287|Unspecified|
+-------+------------------+------------------+--------------------+------------------+----------------+-----------------+------------------+-----------+

In [73]:
df3 = df_pyspark1.select([count(when(col(c).contains('Replacing with value') , c )).alias(c) 
                         for c in df_pyspark1.columns])
                    
df3.show()

+---------+---------+-----------+--------+-----------+---------+----------+-------+
|InvoiceNo|StockCode|Description|Quantity|InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+-----------+--------+-----------+---------+----------+-------+
|        0|        0|       1454|       0|          0|        0|         0|      0|
+---------+---------+-----------+--------+-----------+---------+----------+-------+

## Replacing with Mean, Median or Mode

In [81]:
# Replacing nan value with mean, median or mode

from pyspark.ml.feature import Imputer

imputer= Imputer(
    inputCols = ['Quantity','UnitPrice'],
    outputCols= ["{}_imputed".format(c) for c in ['Quantity','UnitPrice']]
).setStrategy("mode")

In [83]:
## adding imputation columns to the dataframe

df_pyspark2= imputer.fit(df_pyspark).transform(df_pyspark)
df_pyspark2.show(5)

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+----------------+-----------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|Quantity_imputed|UnitPrice_imputed|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+----------------+-----------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 8:26|     2.55|     17850|United Kingdom|               6|             2.55|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|               6|             3.39|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 8:26|     2.75|     17850|United Kingdom|               8|             2.75|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|               6|             3.39|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 8:26|     3.39|     17850|United Kingdom|               6|             3.39|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+----------------+-----------------+
only showing top 5 rows

## Filter operations

In [97]:
# Selecting rows where  unit price == 1.25

df_pyspark3= df_pyspark.filter(df_pyspark['UnitPrice'] == 1.25 )
df_pyspark3.describe().show()

+-------+------------------+------------------+--------------------+------------------+----------------+---------+------------------+-----------+
|summary|         InvoiceNo|         StockCode|         Description|          Quantity|     InvoiceDate|UnitPrice|        CustomerID|    Country|
+-------+------------------+------------------+--------------------+------------------+----------------+---------+------------------+-----------+
|  count|             50496|             50496|               50496|             50496|           50496|    50496|             46555|      50496|
|   mean| 560445.9427371214| 28142.18578545618|                null| 9.865553707224334|            null|     1.25|15355.116829556438|       null|
| stddev|13443.691566396725|18095.181275354218|                null|19.079502443429362|            null|      0.0|1720.0474883042696|       null|
|    min|            536370|             10135| 50'S CHRISTMAS G...|              -840|2010-12-01 10:03|     1.25|             12347|  Australia|
|    max|           C581569|                 M|ZINC WIRE SWEETHE...|              1000| 2011-12-09 9:46|     1.25|             18287|Unspecified|
+-------+------------------+------------------+--------------------+------------------+----------------+---------+------------------+-----------+

In [98]:
# Selecting rows where  unit price == 1.25 and StockCode = '85049D'

df_pyspark4= df_pyspark.filter((df_pyspark['UnitPrice'] == 1.25) & 
                               (df_pyspark['StockCode'] == '85049D'))
df_pyspark4.describe().show()

+-------+-----------------+---------+--------------------+-----------------+----------------+---------+------------------+--------------+
|summary|        InvoiceNo|StockCode|         Description|         Quantity|     InvoiceDate|UnitPrice|        CustomerID|       Country|
+-------+-----------------+---------+--------------------+-----------------+----------------+---------+------------------+--------------+
|  count|              107|      107|                 107|              107|             107|      107|               106|           107|
|   mean|549584.5046728972|  85049.0|                null|5.046728971962617|            null|     1.25|15388.443396226416|          null|
| stddev|7496.557490915341|      0.0|                null|5.553144914795467|            null|      0.0| 1819.615485703811|          null|
|    min|           536404|   85049D|BRIGHT BLUES RIBB...|                1|2010-12-01 11:29|     1.25|             12428|          EIRE|
|    max|           568712|   85049D|BRIGHT BLUES RIBB...|               36|2011-09-28 15:50|     1.25|             18077|United Kingdom|
+-------+-----------------+---------+--------------------+-----------------+----------------+---------+------------------+--------------+

In [99]:
# Selecting rows where  unit price <> 1.25

df_pyspark5= df_pyspark.filter(~(df_pyspark['UnitPrice'] == 1.25 ))
df_pyspark5.describe().show()

+-------+------------------+------------------+--------------------+-----------------+----------------+-----------------+------------------+-----------+
|summary|         InvoiceNo|         StockCode|         Description|         Quantity|     InvoiceDate|        UnitPrice|        CustomerID|    Country|
+-------+------------------+------------------+--------------------+-----------------+----------------+-----------------+------------------+-----------+
|  count|            491413|            491413|              489959|           491413|          491413|           491413|            360274|     491413|
|   mean| 559916.2745777805|27568.831295942182|             20713.0|9.520055431988979|            null|4.956490719620057|15278.977675324892|       null|
| stddev|13425.880469683905|16657.168154764968|                null|228.9301920834687|            null| 101.603384947365| 1712.574142962843|       null|
|    min|            536365|             10002| 4 PURPLE FLOCK D...|           -80995|2010-12-01 10:03|        -11062.06|             12346|  Australia|
|    max|           C581568|                 m|   wrongly sold sets|            80995| 2011-12-09 9:57|          38970.0|             18287|Unspecified|
+-------+------------------+------------------+--------------------+-----------------+----------------+-----------------+------------------+-----------+

## GroupBy function

In [107]:
# Grouping based on Country and StockCode  and doing sum of UnitPrice and Quantity

df_pyspark6= df_pyspark.groupby('Country','StockCode').sum('UnitPrice','Quantity')
df_pyspark6.show()

+--------------+---------+------------------+-------------+
|       Country|StockCode|    sum(UnitPrice)|sum(Quantity)|
+--------------+---------+------------------+-------------+
|United Kingdom|    21125|            111.06|          313|
|United Kingdom|    21794|            519.86|          509|
|United Kingdom|    21662|             212.2|           70|
|          EIRE|   85136C|              15.9|            4|
|United Kingdom|   84032A|           1083.44|          929|
|United Kingdom|   84086C|142.68999999999994|          174|
|United Kingdom|   90214H|25.639999999999993|           48|
|United Kingdom|    22753|202.60000000000002|          851|
|United Kingdom|    22315|237.37000000000003|          674|
|United Kingdom|   85039a|             95.62|           40|
|         Italy|   85036B|              4.25|            6|
|        France|    21539|              48.8|           59|
|United Kingdom|    21253|306.32000000000005|          105|
|United Kingdom|    47480|208.47999999999996|          724|
|          EIRE|    22569|              30.0|           56|
|          EIRE|    22570|             25.89|           76|
|United Kingdom|   90129D|             14.11|           14|
|United Kingdom|   84558a|             29.31|            5|
|        France|    21154|              8.75|           62|
|United Kingdom|    90093|11.889999999999999|           52|
+--------------+---------+------------------+-------------+
only showing top 20 rows

In [111]:
# Grouping based on Country and StockCode  and getting mean of UnitPrice and Quantity

df_pyspark6= df_pyspark.groupby('Country','StockCode').mean('Quantity','UnitPrice')
df_pyspark6.show()

+--------------+---------+------------------+------------------+
|       Country|StockCode|     avg(Quantity)|    avg(UnitPrice)|
+--------------+---------+------------------+------------------+
|United Kingdom|    21125|3.7710843373493974|1.3380722891566266|
|United Kingdom|    21794| 4.757009345794392| 4.858504672897197|
|United Kingdom|    21662|               2.5| 7.578571428571428|
|          EIRE|   85136C|               2.0|              7.95|
|United Kingdom|   84032A|3.0064724919093853|3.5062783171521037|
|United Kingdom|   84086C|             3.625| 2.972708333333332|
|United Kingdom|   90214H|               1.6|0.8546666666666665|
|United Kingdom|    22753| 4.131067961165049|0.9834951456310681|
|United Kingdom|    22315| 4.186335403726708|1.4743478260869567|
|United Kingdom|   85039a|1.3793103448275863| 3.297241379310345|
|         Italy|   85036B|               6.0|              4.25|
|        France|    21539|               5.9|              4.88|
|United Kingdom|    21253|              1.75| 5.105333333333334|
|United Kingdom|    47480| 8.418604651162791|2.4241860465116276|
|          EIRE|    22569|               7.0|              3.75|
|          EIRE|    22570|10.857142857142858| 3.698571428571429|
|United Kingdom|   90129D|               2.0|2.0157142857142856|
|United Kingdom|   84558a|               1.0|             5.862|
|        France|    21154| 8.857142857142858|              1.25|
|United Kingdom|    90093|               5.2|1.1889999999999998|
+--------------+---------+------------------+------------------+
only showing top 20 rows

In [109]:
# Grouping based on Country and StockCode  and doing sum of UnitPrice and Quantity

df_pyspark6= df_pyspark.groupby('Country','StockCode').count()
df_pyspark6.show()

+--------------+---------+-----+
|       Country|StockCode|count|
+--------------+---------+-----+
|United Kingdom|    21125|   83|
|United Kingdom|    21794|  107|
|United Kingdom|    21662|   28|
|          EIRE|   85136C|    2|
|United Kingdom|   84032A|  309|
|United Kingdom|   84086C|   48|
|United Kingdom|   90214H|   30|
|United Kingdom|    22753|  206|
|United Kingdom|    22315|  161|
|United Kingdom|   85039a|   29|
|         Italy|   85036B|    1|
|        France|    21539|   10|
|United Kingdom|    21253|   60|
|United Kingdom|    47480|   86|
|          EIRE|    22569|    8|
|          EIRE|    22570|    7|
|United Kingdom|   90129D|    7|
|United Kingdom|   84558a|    5|
|        France|    21154|    7|
|United Kingdom|    90093|   10|
+--------------+---------+-----+
only showing top 20 rows

In [112]:
df_pyspark7 = df_pyspark.groupby('Country').max()
df_pyspark7.show()

+---------------+-------------+--------------+---------------+
|        Country|max(Quantity)|max(UnitPrice)|max(CustomerID)|
+---------------+-------------+--------------+---------------+
|         Sweden|          768|          40.0|          17404|
|      Singapore|          288|       3949.32|          12744|
|        Germany|          600|         599.5|          14335|
|         France|          912|       4161.06|          14277|
|         Greece|           48|          50.0|          17508|
|        Belgium|          272|         39.95|          12876|
|        Finland|          144|         275.6|          12704|
|          Italy|          200|         300.0|          14912|
|           EIRE|         1440|        1917.0|          14911|
|      Lithuania|           48|          5.95|          15332|
|         Norway|          240|         700.0|          12752|
|          Spain|          360|       1715.85|          17097|
|        Denmark|          256|          18.0|          13919|
|      Hong Kong|          144|       2653.95|           null|
|        Iceland|          240|         12.75|          12347|
|         Israel|          100|         125.0|          12688|
|Channel Islands|          407|         293.0|          14937|
|         Cyprus|          288|        320.69|          13809|
|    Switzerland|          288|          40.0|          13520|
|        Lebanon|           24|         14.95|          12764|
+---------------+-------------+--------------+---------------+
only showing top 20 rows

In [117]:
df_pyspark8 = df_pyspark.groupby('Country','StockCode').agg({'Quantity':'Max','UnitPrice':'Sum'})
df_pyspark8.show()

+--------------+---------+------------------+-------------+
|       Country|StockCode|    sum(UnitPrice)|max(Quantity)|
+--------------+---------+------------------+-------------+
|United Kingdom|    21125|            111.06|           12|
|United Kingdom|    21794|            519.86|           40|
|United Kingdom|    21662|             212.2|           48|
|          EIRE|   85136C|              15.9|            2|
|United Kingdom|   84032A|           1083.44|           44|
|United Kingdom|   84086C|142.68999999999994|           30|
|United Kingdom|   90214H|25.639999999999993|           12|
|United Kingdom|    22753|202.60000000000002|           72|
|United Kingdom|    22315|237.37000000000003|           96|
|United Kingdom|   85039a|             95.62|            3|
|         Italy|   85036B|              4.25|            6|
|        France|    21539|              48.8|           18|
|United Kingdom|    21253|306.32000000000005|            6|
|United Kingdom|    47480|208.47999999999996|           96|
|          EIRE|    22569|              30.0|           12|
|          EIRE|    22570|             25.89|           32|
|United Kingdom|   90129D|             14.11|            6|
|United Kingdom|   84558a|             29.31|            1|
|        France|    21154|              8.75|           10|
|United Kingdom|    90093|11.889999999999999|           20|
+--------------+---------+------------------+-------------+
only showing top 20 rows